arduino-1.8.13-linux64.tar.xz

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# AVR
*.elf
*.hex
*.map
ATmega48A-PA-88A-PA-168A-PA-328-P-DS-DS40002061A.pdf

Atmel-7810-Automotive-Microcontrollers-ATmega328P_Datasheet.pdf
